body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f4ff5c;
    color: rgb(0, 0, 0);
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#imagem {
    width: 100%;
}

select {
    padding: 10px;
    font-size: 16px;
}

label {
    margin-right: 10px;
    font-size: 18px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff; 
}

.area-verde {
    background-color: #ccffcc; 
    text-align: center;
}

.conteudo-principal {
    padding: 20px;
    text-align: center;
}

.swing {
    display: inline-block;
    animation: swing 1s infinite;
  }
  
  @keyframes swing {
    0% {
      transform: rotate(0deg);
    }
    20% {
      transform: rotate(15deg);
    }
    40% {
      transform: rotate(-10deg);
    }
    60% {
      transform: rotate(5deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  